

stages:
- stage: TerraformPlan
  displayName: "Terraform Init & Plan"
  jobs:
  - job: Plan
    displayName: "Run Terraform Init & Plan"
    pool:
      name: 'Default'
    steps:
    - checkout: self

    - task: AzureCLI@2
      displayName: "Terraform Init & Plan"
      inputs:
        azureSubscription: "AshramsConnect"
        scriptType: pscore
        scriptLocation: inlineScript
        inlineScript: |
          Write-Host "=== Terraform Init ==="
          terraform init

          Write-Host "=== Terraform Validate ==="
          terraform validate

          Write-Host "=== Terraform Plan ==="
          terraform plan -out=tfplan

    - task: PublishBuildArtifacts@1
      displayName: "Upload Terraform Plan Output"
      inputs:
        PathtoPublish: "tfplan"
        ArtifactName: "tfplan"
        publishLocation: "Container"

- stage: TerraformApply
  displayName: "Terraform Apply"
  dependsOn:
  - TerraformPlan
  jobs:
  - job: Apply
    displayName: "Run Terraform Apply"
    pool:
      name: 'Default'
    steps:
    - checkout: self

    - task: DownloadBuildArtifacts@0
      displayName: "Download Terraform Plan"
      inputs:
        artifactName: "tfplan"
        downloadPath: "$(System.DefaultWorkingDirectory)"

    - task: AzureCLI@2
      displayName: "Terraform Apply"
      inputs:
        azureSubscription: "AshramsConnect"
        scriptType: pscore
        scriptLocation: inlineScript
        inlineScript: |
          Write-Host "=== Terraform Init ==="
          terraform init

          Write-Host "=== Terraform Apply ==="
          terraform apply -auto-approve tfplan
